vti_encoding:SR|utf8-nl
http\://home.sol.no/guestbook.cgi/guestwrite(loekseth):hovedside.htm
mmind.zip:master_mind.htm
om_meg.htm:meny.htm
javascript\:void(0):meny_2.htm
idioten.zip:idioten.htm
guestbook.html:hovedside.htm
ftp\://ftp.microsoft.com/softlib/mslfiles/msvbvm50.exe:programmer.htm
mailto\:eloekset@online.no:hovedside.htm
idioten_install.zip:idioten.htm
volum.zip:volumkontroll.htm
